body {
	margin: 0;
	padding: 0;
	font-size: 0.9em;
	color: #fff;
	background-color: #000;
}
h1, h2 {
	margin: 0;
}
a {
	text-decoration: none;
}
#wrap {
	width: 800px;
	margin: 0 auto;
	
}
.header {
	height: 110px;
	background-image: url(images/index_01.jpg);
}
.header a {
	color: black;
}
.sub {
	float: left;
	width: 184px;
	height: 684px;
	text-align: center;
	margin-top: 10px;
	padding-top: 20px;
	background-image: url(images/index_08.jpg);
}
.sub h1 {
	font-weight: normal;
	padding: 10px 0;
	background-image:url(images/index_06.jpg); 
}
.sub ul {
	font-size: 17px;
	list-style-type: none;
	padding: 0;
}
.sub ul li {
	height: 40px;
	line-height: 40px;
}
.sub ul li a {
	display: inline-block;
	height: 40px;
	width: 100%;
	color: #fff;
}
.sub ul li a:hover {
	background-image: url(images/button_hover.png);
}

.content {
	margin-top: 10px;
	margin-left: 200px;
	/*background-image: url(../xtra_art/images/index_03.jpg);*/
	background-color: black;

}
.content .article {
	margin: 10px 0 20px 0;
	padding: 20px;
	background-color: black;
	background-image: url(images/index_10.jpg);
	background-repeat: no-repeat;
}
.content .article .more {
	padding: 20px 0;
	font-size: 22px;
}
a.common-link {
	color: #ddd;
}
a.common-link:hover {
	color: #49F72C;
}
.footer {
	height: 20px;
	margin-left: 220px;
	font-size: 0.8em;
	background-image: url(images/index_14.jpg);
	background-repeat: no-repeat;
}
