@charset "utf-8";

button {
    font-size: .96rem;
}

#header {
    padding-left: 20px;
}
.icon-back {
    display: none;
}

/*针对设备布局*/

#menu {
    width: 30%;
    left: 0;
}
#list {
    width: 30%;
    left: 30%;
}
#detail {
    width: 40%;
    /*left: 60%;*/
    right: 0;
}


/*两个底部按钮图标*/
.footer {
    height: 50px;
    background-color: #F2F2F2;
}
/* 底部按钮图标 */
.footer button {
    height: 100%;
    width: 100%;
    font-size: .9em;
}

/*按钮的+号标记*/
.footer .icon-add:before {
    content: '+';
    float: left;
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-indent: 30%;
    font-size: 2em;
    font-weight: 700;
}

#detail .title {
    font-size: .95em;
}